# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/

# Environment variables
.env

# =========================
# Package managers / tools
# =========================
pip-log.txt
pip-delete-this-directory.txt
.poetry/

# =========================
# OS / IDE
# =========================
.DS_Store
.idea/
